In [1]:
import pandas as pd
import numpy as np

In [33]:
data = pd.read_csv('/Users/mac/Desktop/Project/playground-series-s3e19/train.csv')
test = pd.read_csv('/Users/mac/Desktop/Project/playground-series-s3e19/test.csv')

In [3]:
data.head()

,id,date,country,store,product,num_sold
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49

In [4]:
data.isnull().sum()

id          0
date        0
country     0
store       0
product     0
num_sold    0
dtype: int64

In [5]:
print('Value_counts', data['date'].value_counts())

Value_counts 2017-01-01    75
2020-05-11    75
2020-05-09    75
2020-05-08    75
2020-05-07    75
              ..
2018-08-29    75
2018-08-28    75
2018-08-27    75
2018-08-26    75
2021-12-31    75
Name: date, Length: 1826, dtype: int64

In [6]:
print('Value_counts', data['country'].value_counts())

Value_counts Argentina    27390
Canada       27390
Estonia      27390
Japan        27390
Spain        27390
Name: country, dtype: int64

In [7]:
print('Value_counts', data['store'].value_counts())

Value_counts Kaggle Learn    45650
Kaggle Store    45650
Kagglazon       45650
Name: store, dtype: int64

In [8]:
print('Value_counts', data['product'].value_counts())

Value_counts Using LLMs to Improve Your Coding                 27390
Using LLMs to Train More LLMs                     27390
Using LLMs to Win Friends and Influence People    27390
Using LLMs to Win More Kaggle Competitions        27390
Using LLMs to Write Better                        27390
Name: product, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
data['country'] = LabelEncoder().fit(data['country']).transform(data['country'])
data['store'] = LabelEncoder().fit(data['store']).transform(data['store'])
data['product'] = LabelEncoder().fit(data['product']).transform(data['product'])

In [10]:
data.drop(columns = ['date'], inplace = True)

In [11]:
data.head()

   id  country  store  product  num_sold
0   0        0      1        0        63
1   1        0      1        1        66
2   2        0      1        2         9
3   3        0      1        3        59
4   4        0      1        4        49

In [12]:
from sklearn.model_selection import train_test_split
X = data.drop(columns = ['num_sold'])
Y = data['num_sold']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [13]:
from sklearn.preprocessing import StandardScaler
X_train_nor = StandardScaler().fit(x_train).transform(x_train)
X_test_nor = StandardScaler().fit(x_test).transform(x_test)

In [14]:
print('Train shape', X_train_nor.shape, y_train.shape)
print('Test shape', X_test_nor.shape, y_test.shape)

Train shape (95865, 4) (95865,)
Test shape (41085, 4) (41085,)

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsRegressor

search = GridSearchCV(KNeighborsRegressor(), {
    'n_neighbors' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
    'weights' : ['uniform', 'distance'],
    'algorithm' : ['ball_tree', 'kd_tree', 'brute', 'auto'], 
})
search.fit(X_train_nor, y_train)
search.cv_results_

{'mean_fit_time': array([0.11750236, 0.07810144, 0.05611057, 0.0542232 , 0.05791416,
        0.11138539, 0.10802016, 0.07389679, 0.1103159 , 0.1149044 ,
        0.0899281 , 0.12685466, 0.06571331, 0.07031651, 0.05565405,
        0.1402493 , 0.10790071, 0.06235905, 0.10221081, 0.10589843,
        0.1204504 , 0.11684828, 0.05467   , 0.09596066, 0.08090019,
        0.0523243 , 0.05930181, 0.05348887, 0.05374503, 0.07147703,
        0.14573779, 0.09560165, 0.09830375, 0.09244151, 0.15382104,
        0.07799625, 0.13020205, 0.0628016 , 0.06220131, 0.06636968,
        0.00718975, 0.00709572, 0.00666304, 0.00706334, 0.00685368,
        0.0066987 , 0.0067482 , 0.00674715, 0.00755987, 0.00676317,
        0.00671873, 0.00717235, 0.00866132, 0.00736632, 0.0072917 ,
        0.00775566, 0.00841894, 0.01139975, 0.00659218, 0.0065866 ,
        0.05142097, 0.04751635, 0.04730277, 0.04688292, 0.04673438,
        0.04770141, 0.04612498, 0.0462564 , 0.04642282, 0.04534073,
        0.04822631, 0.04723105, 0.04737773, 0.04778404, 0.04773908,
        0.04714818, 0.0470192 , 0.0482583 , 0.04729118, 0.04724903]),
 'std_fit_time': array([1.02512138e-01, 2.35816584e-02, 2.38042429e-03, 1.35840062e-03,
        4.23529016e-03, 8.28507373e-02, 9.37639951e-02, 2.67547062e-02,
        7.49875147e-02, 5.55519064e-02, 5.33588443e-02, 7.69756529e-02,
        1.56195308e-02, 1.72974787e-02, 1.95027175e-03, 1.20070812e-01,
        5.67138278e-02, 9.99038504e-03, 5.31437578e-02, 6.12841429e-02,
        9.30310403e-02, 8.05100714e-02, 2.47605433e-03, 6.62138778e-02,
        1.14360910e-02, 1.05549380e-03, 7.24432264e-03, 2.45826630e-03,
        5.73234492e-03, 2.34352005e-02, 5.95792855e-02, 5.44147355e-02,
        4.98934899e-02, 6.15967088e-02, 8.29822714e-02, 2.96767900e-02,
        9.30653260e-02, 9.25937318e-03, 1.53166347e-02, 3.16811124e-02,
        1.37628928e-03, 5.13344747e-04, 1.21868365e-04, 5.89908398e-04,
        2.78052558e-04, 1.88656004e-04, 2.75345694e-04, 2.10715500e-04,
        1.90179094e-03, 1.92583861e-04, 9.03498334e-05, 6.98344387e-04,
        2.50400907e-03, 8.76224843e-04, 3.01522977e-04, 1.03462698e-03,
        2.00360139e-03, 4.08802760e-03, 1.03397561e-04, 2.22656271e-04,
        9.63453039e-03, 1.13523577e-03, 2.30481848e-03, 1.29207740e-03,
        1.65686627e-03, 1.59371634e-03, 8.79569102e-04, 7.09062941e-04,
        1.31672617e-03, 7.72180668e-04, 2.64808487e-03, 1.34336206e-03,
        1.68846698e-03, 1.92488967e-03, 8.48664540e-04, 1.11208593e-03,
        2.65548163e-03, 1.26860597e-03, 1.62884741e-03, 1.32208606e-03]),
 'mean_score_time': array([0.80650635, 0.68366776, 0.59843984, 0.41548562, 0.57252893,
        0.54570823, 0.71395664, 0.6883924 , 1.00713859, 1.4625989 ,
        0.82670364, 1.09328761, 0.54037867, 0.67652345, 0.67415404,
        1.10455356, 0.8649826 , 0.65603652, 0.94913707, 1.59476914,
        0.84340477, 0.82340703, 0.34315348, 0.51257901, 0.3508697 ,
        0.45957041, 0.50213184, 0.3113235 , 0.29781418, 0.38059101,
        0.63834281, 0.51966562, 0.543331  , 0.5354404 , 0.60656056,
        0.5139688 , 0.70763273, 0.50921664, 0.53647413, 0.41274633,
        6.36307416, 4.10111055, 3.89651971, 3.82844706, 3.82366796,
        3.86778111, 3.75360007, 3.78392754, 3.75634475, 3.84877801,
        4.14812822, 4.72972531, 5.93351965, 4.54292984, 5.33813634,
        5.16387043, 4.70254431, 7.27637229, 3.47658634, 3.54339519,
        0.24981394, 0.24249921, 0.24387436, 0.24522653, 0.24976711,
        0.25058827, 0.25943074, 0.28013897, 0.26697769, 0.26805363,
        0.26822672, 0.27332525, 0.27470031, 0.27951117, 0.28437943,
        0.28675485, 0.29265699, 0.29171853, 0.292804  , 0.29697776]),
 'std_score_time': array([3.17848569e-01, 2.12952084e-01, 2.13425587e-01, 4.04650140e-03,
        1.25869542e-01, 9.12056226e-02, 9.92047928e-02, 1.37651035e-01,
        2.31238838e-01, 5.47781263e-01, 2.24690312e-01, 3.18426823e-01,
        5.03922113e-02, 2.89158183e-01, 3.02117344e-01, 2.76873405e-01,
        1.96529469e-01, 1.23124574e-01, 1.42948340e-01, 6.18415164e-01,
        2.63725906e-01, 2.43101749e-01, 6.88743564e-02, 1.53727626e-01,
        4.47518947e-02, 2.42563011e-01, 1.57672582e-01, 7.37756653e-03,
        1.18042661e-02, 1.03078168e-01, 7.63250256e-02, 1.47568367e-01,
        9.64777416e-02, 1.30479748e-01, 8.65105695e-02, 1.29662126e-01,
        3.52985618e-01, 1.47294338e-01, 1.99448115e-01, 6.38170450e-02,
        1.42294183e+00, 8.97087663e-02, 6.11421969e-02, 6.73728681e-02,
        3.21995494e-02, 5.42725195e-02, 5.78387365e-02, 6.25597983e-02,
        4.05539298e-02, 9.72857641e-02, 5.34518345e-01, 1.71043555e+00,
        1.24559074e+00, 2.66016591e-01, 1.05236242e+00, 7.24200925e-01,
        1.08493732e+00, 3.49564263e+00, 2.30345671e-02, 8.21041802e-02,
        2.75317641e-02, 6.71755602e-03, 5.09836676e-03, 4.94467340e-03,
        3.48895892e-03, 6.29997045e-03, 5.67516788e-03, 3.73348446e-02,
        7.08222023e-03, 7.00099557e-03, 4.82247759e-03, 5.21489635e-03,
        5.40453743e-03, 4.15061354e-03, 7.61508128e-03, 6.96018660e-03,
        1.04606359e-02, 5.36211673e-03, 5.10368448e-03, 5.95509496e-03]),
 'param_algorithm': masked_array(data=['ball_tree', 'ball_tree', 'ball_tree', 'ball_tree',
                    'ball_tree', 'ball_tree', 'ball_tree', 'ball_tree',
                    'ball_tree', 'ball_tree', 'ball_tree', 'ball_tree',
                    'ball_tree', 'ball_tree', 'ball_tree', 'ball_tree',
                    'ball_tree', 'ball_tree', 'ball_tree', 'ball_tree',
                    'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree',
                    'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree',
                    'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree',
                    'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree',
                    'brute', 'brute', 'brute', 'brute', 'brute', 'brute',
                    'brute', 'brute', 'brute', 'brute', 'brute', 'brute',
                    'brute', 'brute', 'brute', 'brute', 'brute', 'brute',
                    'brute', 'brute', 'auto', 'auto', 'auto', 'auto',
                    'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto',
                    'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto',
                    'auto', 'auto'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_neighbors': masked_array(data=[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9,
                    10, 10, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8,
                    9, 9, 10, 10, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7,
                    8, 8, 9, 9, 10, 10, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6,
                    7, 7, 8, 8, 9, 9, 10, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_weights': masked_array(data=['uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'algorithm': 'ball_tree', 'n_neighbors': 1, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 1, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 2, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 2, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 3, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 3, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 4, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 4, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 5, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 5, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 6, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 6, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 7, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 7, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 8, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 8, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 9, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 9, 'weights': 'distance'},
  {'algorithm': 'ball_tree', 'n_neighbors': 10, 'weights': 'uniform'},
  {'algorithm': 'ball_tree', 'n_neighbors': 10, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 1, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 1, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 2, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 2, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 3, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 3, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 4, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 4, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 5, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 5, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 6, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 6, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 7, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 7, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 8, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 8, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 9, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 9, 'weights': 'distance'},
  {'algorithm': 'kd_tree', 'n_neighbors': 10, 'weights': 'uniform'},
  {'algorithm': 'kd_tree', 'n_neighbors': 10, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 1, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 1, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 2, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 2, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 3, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 3, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 4, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 4, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 5, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 5, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 6, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 6, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 7, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 7, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 8, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 8, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 9, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 9, 'weights': 'distance'},
  {'algorithm': 'brute', 'n_neighbors': 10, 'weights': 'uniform'},
  {'algorithm': 'brute', 'n_neighbors': 10, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 1, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 1, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 2, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 2, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 4, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 4, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 5, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 5, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 6, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 6, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 7, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 7, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 8, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 8, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 9, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 9, 'weights': 'distance'},
  {'algorithm': 'auto', 'n_neighbors': 10, 'weights': 'uniform'},
  {'algorithm': 'auto', 'n_neighbors': 10, 'weights': 'distance'}],
 'split0_test_score': array([0.97506082, 0.97506082, 0.97976907, 0.98032555, 0.97952213,
        0.98101325, 0.97844117, 0.98084648, 0.97828363, 0.9809612 ,
        0.97883628, 0.98132098, 0.9795744 , 0.9817126 , 0.98030431,
        0.98208569, 0.98062924, 0.9823069 , 0.98055643, 0.98237307,
        0.97506755, 0.97506755, 0.97977354, 0.98032909, 0.97951218,
        0.98100982, 0.97845585, 0.98084439, 0.97829254, 0.98096504,
        0.97881236, 0.98130772, 0.97959684, 0.98171806, 0.98030733,
        0.98208842, 0.98061229, 0.98230368, 0.98057081, 0.98238141,
        0.9749211 , 0.9749211 , 0.97978476, 0.9803684 , 0.97943869,
        0.9809408 , 0.97866192, 0.98093301, 0.97826209, 0.98094723,
        0.97875768, 0.98129197, 0.97969177, 0.98175878, 0.98026816,
        0.98207303, 0.98054724, 0.98228191, 0.98055134, 0.98237201,
        0.97506755, 0.97506755, 0.97977354, 0.98032909, 0.97951218,
        0.98100982, 0.97845585, 0.98084439, 0.97829254, 0.98096504,
        0.97881236, 0.98130772, 0.97959684, 0.98171806, 0.98030733,
        0.98208842, 0.98061229, 0.98230368, 0.98057081, 0.98238141]),
 'split1_test_score': array([0.97653253, 0.97653253, 0.98118896, 0.98186785, 0.98047856,
        0.98224694, 0.97980473, 0.98233521, 0.97883521, 0.9821056 ,
        0.97909371, 0.98230412, 0.97980883, 0.98262338, 0.98038148,
        0.98291111, 0.98077688, 0.98311429, 0.98061587, 0.98313121,
        0.97654276, 0.97654276, 0.98121661, 0.98188858, 0.98052504,
        0.98227211, 0.97979632, 0.98233237, 0.97885918, 0.98211852,
        0.97907587, 0.98229531, 0.97981695, 0.98262407, 0.98039813,
        0.98291507, 0.98075509, 0.98310255, 0.98062387, 0.98313683,
        0.97632344, 0.97632344, 0.98097627, 0.98169768, 0.98062035,
        0.9823269 , 0.97971066, 0.98228554, 0.9788432 , 0.98211709,
        0.97902189, 0.98225651, 0.97976629, 0.98261601, 0.98035886,
        0.98289288, 0.98074115, 0.98309977, 0.98064014, 0.98314539,
        0.97654276, 0.97654276, 0.98121661, 0.98188858, 0.98052504,
        0.98227211, 0.97979632, 0.98233237, 0.97885918, 0.98211852,
        0.97907587, 0.98229531, 0.97981695, 0.98262407, 0.98039813,
        0.98291507, 0.98075509, 0.98310255, 0.98062387, 0.98313683]),
 'split2_test_score': array([0.97593262, 0.97593262, 0.97999322, 0.98069799, 0.97973511,
        0.98126706, 0.97879204, 0.98114806, 0.9782771 , 0.98108195,
        0.97868241, 0.98131644, 0.97948747, 0.9816678 , 0.98003431,
        0.98195638, 0.98038661, 0.98215633, 0.98039864, 0.98222925,
        0.97595259, 0.97595259, 0.97999794, 0.98070001, 0.97971038,
        0.98124947, 0.97877703, 0.98113748, 0.97827692, 0.98107988,
        0.97869565, 0.98132306, 0.97951161, 0.98168094, 0.98007592,
        0.9819748 , 0.98040691, 0.98216011, 0.98039849, 0.98222463,
        0.97563256, 0.97563256, 0.97983234, 0.98060752, 0.97950456,
        0.98113372, 0.9787785 , 0.98114342, 0.97825892, 0.98107241,
        0.97876961, 0.98135004, 0.97943379, 0.98166427, 0.98005596,
        0.98196334, 0.98039278, 0.98215403, 0.98038044, 0.98221219,
        0.97595259, 0.97595259, 0.97999794, 0.98070001, 0.97971038,
        0.98124947, 0.97877703, 0.98113748, 0.97827692, 0.98107988,
        0.97869565, 0.98132306, 0.97951161, 0.98168094, 0.98007592,
        0.9819748 , 0.98040691, 0.98216011, 0.98039849, 0.98222463]),
 'split3_test_score': array([0.9757686 , 0.9757686 , 0.98126635, 0.98165494, 0.98121813,
        0.98247899, 0.98034341, 0.98247599, 0.97988872, 0.98250574,
        0.98041459, 0.98281424, 0.9812448 , 0.98320677, 0.98192725,
        0.98353115, 0.98222403, 0.98372288, 0.98210701, 0.98378034,
        0.97575318, 0.97575318, 0.98127838, 0.98166021, 0.98117414,
        0.98245309, 0.9803478 , 0.98248146, 0.97987055, 0.98250037,
        0.98042559, 0.98282198, 0.98121868, 0.98319793, 0.98191244,
        0.98352537, 0.98223946, 0.98372974, 0.98210518, 0.98377856,
        0.97535608, 0.97535608, 0.98139428, 0.98177793, 0.98105582,
        0.98237361, 0.98039008, 0.98249546, 0.97989123, 0.98250534,
        0.98044768, 0.98282154, 0.98124894, 0.98321236, 0.98192635,

In [16]:
df = pd.DataFrame(search.cv_results_)
df[['param_n_neighbors', 'param_weights', 'param_algorithm', 'mean_test_score']].sort_values(by = 'mean_test_score', ascending = False)

   param_n_neighbors param_weights param_algorithm  mean_test_score
79                10      distance            auto         0.982788
39                10      distance         kd_tree         0.982788
19                10      distance       ball_tree         0.982788
59                10      distance           brute         0.982784
17                 9      distance       ball_tree         0.982725
..               ...           ...             ...              ...
20                 1       uniform         kd_tree         0.975525
0                  1       uniform       ball_tree         0.975522
1                  1      distance       ball_tree         0.975522
41                 1      distance           brute         0.975313
40                 1       uniform           brute         0.975313

[80 rows x 4 columns]

In [17]:
print('Best estimator', search.best_estimator_)
print('Best parameter', search.best_params_)
print('Best score', search.best_score_)

Best estimator KNeighborsRegressor(algorithm='kd_tree', n_neighbors=10, weights='distance')
Best parameter {'algorithm': 'kd_tree', 'n_neighbors': 10, 'weights': 'distance'}
Best score 0.9827880791552882

In [19]:
neighbor = KNeighborsRegressor(algorithm = 'kd_tree', n_neighbors = 10, weights = 'distance')
neighbor.fit(X_train_nor, y_train)
predict = neighbor.predict(X_test_nor)
print('MSE', mean_squared_error(y_test, predict))
print('Rsquare', r2_score(y_test, predict))

MSE 700.8852371439051
Rsquare 0.9791801098789452

In [34]:
test.head()

,id,date,country,store,product
0,136950,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding
1,136951,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs
2,136952,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People
3,136953,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions
4,136954,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better

In [35]:
test.isnull().sum()

id         0
date       0
country    0
store      0
product    0
dtype: int64

In [36]:
test['country'] = LabelEncoder().fit(test['country']).transform(test['country'])
test['store'] = LabelEncoder().fit(test['store']).transform(test['store'])
test['product'] = LabelEncoder().fit(test['product']).transform(test['product'])

In [37]:
test.drop(columns = ['date'], inplace = True)

In [24]:
test.head()

       id  country  store  product
0  136950        0      1        0
1  136951        0      1        1
2  136952        0      1        2
3  136953        0      1        3
4  136954        0      1        4

In [38]:
x_train_nor = StandardScaler().fit(test).transform(test)
print('x_train_nor.shape', x_train_nor.shape)

x_train_nor.shape (27375, 4)

In [39]:
y = neighbor.predict(x_train_nor)
y.reshape(27375, 1)

array([[ 43.04577819],
       [ 48.71757188],
       [  7.01227603],
       ...,
       [103.3479717 ],
       [580.20546583],
       [460.93164018]])

In [40]:
submission = pd.DataFrame(y)
test = pd.concat([test, submission], axis = 1)
test.drop(columns = ['country', 'store', 'product'], inplace = True)
test.rename(columns = {0 : 'num_sold'}, inplace = True)
test.head()

       id   num_sold
0  136950  43.045778
1  136951  48.717572
2  136952   7.012276
3  136953  39.235046
4  136954  37.521814

In [42]:
test.to_csv('/Users/mac/Desktop/Submission_KNR.csv', index = False)