In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

path = r"/Users/mac/Desktop/titanic/train.csv"
assert os.path.isfile(path)
with open(path, "r") as f:
    pass

In [3]:
data = pd.read_csv('/Users/mac/Desktop/titanic/train.csv')
test = pd.read_csv('/Users/mac/Desktop/titanic/test.csv')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
mean_age = data['Age'].mean()
data['Age'].replace(np.nan, mean_age, inplace = True)

In [7]:
data['Cabin'].describe(include = object)

count         204
unique        147
top       B96 B98
freq            4
Name: Cabin, dtype: object

In [8]:
data['Cabin'].replace(np.nan, 'B96 B98', inplace = True)

In [9]:
data['Embarked'].describe(include = object)

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [10]:
data['Embarked'].replace(np.nan, 'S', inplace = True)

In [11]:
embarked = pd.get_dummies(data['Embarked'])
data = pd.concat([data, embarked], axis = 1)

In [12]:
data.drop(columns = ['Embarked'], axis = 1, inplace = True)

In [13]:
data.rename(columns = {'S' : 'S_Port'}, inplace = True)
data.rename(columns = {'Q' : 'Q_Port'}, inplace = True)
data.rename(columns = {'C' : 'C_Port'}, inplace = True)

In [14]:
data['Cabin'].value_counts()

B96 B98        691
G6               4
C23 C25 C27      4
C22 C26          3
F33              3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: Cabin, Length: 147, dtype: int64

In [15]:
condition = data['Cabin'].value_counts().nlargest(5).index
data['Cabin'] = data['Cabin'].where(data['Cabin'].isin(condition), 'Others')

In [16]:
cabin = pd.get_dummies(data['Cabin'])
cabin

     B96 B98  C22 C26  C23 C25 C27  F33  G6  Others
0          1        0            0    0   0       0
1          0        0            0    0   0       1
2          1        0            0    0   0       0
3          0        0            0    0   0       1
4          1        0            0    0   0       0
..       ...      ...          ...  ...  ..     ...
886        1        0            0    0   0       0
887        0        0            0    0   0       1
888        1        0            0    0   0       0
889        0        0            0    0   0       1
890        1        0            0    0   0       0

[891 rows x 6 columns]

In [17]:
data = pd.concat([data, cabin], axis = 1)

In [18]:
data.drop(columns = 'Cabin', axis = 1, inplace = True)

In [19]:
data.rename(columns = {'B96 B98' : 'Cabin_number_1'}, inplace = True)
data.rename(columns = {'C22 C26' : 'Cabin_number_2'}, inplace = True)
data.rename(columns = {'C23 C25 C27' : 'Cabin_number_3'}, inplace = True)
data.rename(columns = {'F33' : 'Cabin_number_4'}, inplace = True)
data.rename(columns = {'G6' : 'Cabin_number_5'}, inplace = True)
data.rename(columns = {'Others' : 'Others_Cabin'}, inplace = True)

In [20]:
data.drop(columns = ['Name', 'Ticket'], axis = 1, inplace = True)

In [21]:
sex = pd.get_dummies(data['Sex'])
data = pd.concat([data, sex], axis = 1)
data.drop(columns = ['Sex'], inplace = True)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    int64
 2   Pclass          891 non-null    int64
 3   Age             891 non-null    float64
 4   SibSp           891 non-null    int64
 5   Parch           891 non-null    int64
 6   Fare            891 non-null    float64
 7   C_Port          891 non-null    uint8
 8   Q_Port          891 non-null    uint8
 9   S_Port          891 non-null    uint8
 10  Cabin_number_1  891 non-null    uint8
 11  Cabin_number_2  891 non-null    uint8
 12  Cabin_number_3  891 non-null    uint8
 13  Cabin_number_4  891 non-null    uint8
 14  Cabin_number_5  891 non-null    uint8
 15  Others_Cabin    891 non-null    uint8
 16  female          891 non-null    uint8
 17  male            891 non-null    uint8
dtypes: float64(2), int64(5), uint8(11)
memory usage: 58.4 KB

In [23]:
data = data.astype(int)

In [24]:
data.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,C_Port,Q_Port,S_Port,Cabin_number_1,Cabin_number_2,Cabin_number_3,Cabin_number_4,Cabin_number_5,Others_Cabin,female,male
0,1,0,3,22,1,0,7,0,0,1,1,0,0,0,0,0,0,1
1,2,1,1,38,1,0,71,1,0,0,0,0,0,0,0,1,1,0
2,3,1,3,26,0,0,7,0,0,1,1,0,0,0,0,0,1,0
3,4,1,1,35,1,0,53,0,0,1,0,0,0,0,0,1,1,0
4,5,0,3,35,0,0,8,0,0,1,1,0,0,0,0,0,0,1

In [25]:
from sklearn.model_selection import train_test_split
x = data[['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'C_Port', 'Q_Port', 'S_Port', 
          'Cabin_number_1', 'Cabin_number_2', 'Cabin_number_3', 'Cabin_number_4', 'Cabin_number_5', 'Others_Cabin', 'female', 'male']]
y = data['Survived']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 0)

In [26]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
Input = [('scaler', StandardScaler()), ('logistic', LogisticRegression())]
pipe = Pipeline(Input)
pipe.fit(x_train, y_train)
predict = pipe.predict(x_train)

In [27]:
predict

array([1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0])

In [28]:
from sklearn.metrics import accuracy_score
score = accuracy_score(predict, y_train)
print('Accuracy_score:', round(score * 100, 2),'%')

Accuracy_score: 79.4 %

In [29]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_train, predict)
print('MSE', mse)

MSE 0.20599250936329588

In [30]:
from sklearn.metrics import r2_score
Rsquare = r2_score(y_train, predict)
print('Rsquare', Rsquare)

Rsquare 0.12412024334963612

In [31]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [32]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [33]:
mean_age = test['Age'].mean()
mean_fare = test['Fare'].mean()
test['Fare'].replace(np.nan, mean_fare, inplace = True)
test['Age'].replace(np.nan, mean_age, inplace = True)

In [34]:
test_embarked = pd.get_dummies(test['Embarked'])
test = pd.concat([test, test_embarked], axis = 1)
test.drop(columns = ['Embarked'], inplace = True)

In [35]:
test.rename(columns = {'S' : 'S_Port'}, inplace = True)
test.rename(columns = {'Q' : 'Q_Port'}, inplace = True)
test.rename(columns = {'C' : 'C_Port'}, inplace = True)

In [36]:
test['Cabin'].describe(include = object)

count                  91
unique                 76
top       B57 B59 B63 B66
freq                    3
Name: Cabin, dtype: object

In [37]:
test['Cabin'].replace(np.nan, 'B57 B59 B63 B66', inplace = True)

In [38]:
test['Cabin'].value_counts()

B57 B59 B63 B66    330
C89                  2
C116                 2
C80                  2
C55 C57              2
                  ...
E45                  1
E52                  1
D30                  1
C62 C64              1
C105                 1
Name: Cabin, Length: 76, dtype: int64

In [39]:
condition = test['Cabin'].value_counts().nlargest(5).index
test['Cabin'] = test['Cabin'].where(test['Cabin'].isin(condition), 'Others')

In [40]:
test_cabin = pd.get_dummies(test['Cabin'])
test = pd.concat([test, test_cabin], axis = 1)
test.drop(columns = ['Cabin'], axis = 1, inplace = True)
test_cabin

     B57 B59 B63 B66  C116  C55 C57  C80  C89  Others
0                  1     0        0    0    0       0
1                  1     0        0    0    0       0
2                  1     0        0    0    0       0
3                  1     0        0    0    0       0
4                  1     0        0    0    0       0
..               ...   ...      ...  ...  ...     ...
413                1     0        0    0    0       0
414                0     0        0    0    0       1
415                1     0        0    0    0       0
416                1     0        0    0    0       0
417                1     0        0    0    0       0

[418 rows x 6 columns]

In [41]:
test.rename(columns = {'B57 B59 B63 B66' : 'Cabin_number_1'}, inplace = True)
test.rename(columns = {'C116' : 'Cabin_number_2'}, inplace = True)
test.rename(columns = {'C55 C57' : 'Cabin_number_3'}, inplace = True)
test.rename(columns = {'C80' : 'Cabin_number_4'}, inplace = True)
test.rename(columns = {'C89' : 'Cabin_number_5'}, inplace = True)
test.rename(columns = {'Others' : 'Others_Cabin'}, inplace = True)

In [42]:
test_sex = pd.get_dummies(test['Sex'])
test = pd.concat([test, test_sex], axis = 1)
test.drop(columns = ['Sex'], inplace = True)

In [43]:
test.drop(columns = ['Name', 'Ticket'], inplace = True)

In [44]:
test = test.astype(int)

In [45]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     418 non-null    int64
 1   Pclass          418 non-null    int64
 2   Age             418 non-null    int64
 3   SibSp           418 non-null    int64
 4   Parch           418 non-null    int64
 5   Fare            418 non-null    int64
 6   C_Port          418 non-null    int64
 7   Q_Port          418 non-null    int64
 8   S_Port          418 non-null    int64
 9   Cabin_number_1  418 non-null    int64
 10  Cabin_number_2  418 non-null    int64
 11  Cabin_number_3  418 non-null    int64
 12  Cabin_number_4  418 non-null    int64
 13  Cabin_number_5  418 non-null    int64
 14  Others_Cabin    418 non-null    int64
 15  female          418 non-null    int64
 16  male            418 non-null    int64
dtypes: int64(17)
memory usage: 55.6 KB

In [46]:
test.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,C_Port,Q_Port,S_Port,Cabin_number_1,Cabin_number_2,Cabin_number_3,Cabin_number_4,Cabin_number_5,Others_Cabin,female,male
0,892,3,34,0,0,7,0,1,0,1,0,0,0,0,0,0,1
1,893,3,47,1,0,7,0,0,1,1,0,0,0,0,0,1,0
2,894,2,62,0,0,9,0,1,0,1,0,0,0,0,0,0,1
3,895,3,27,0,0,8,0,0,1,1,0,0,0,0,0,0,1
4,896,3,22,1,1,12,0,0,1,1,0,0,0,0,0,1,0

In [47]:
submission = pipe.predict(test)

In [48]:
submission.reshape(418, 1)

array([[0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0]])

In [49]:
new_test_data = test.loc[:, ['PassengerId']]
submission = pd.DataFrame(submission)
new_test_data = pd.concat([new_test_data, submission], axis = 1)
new_test_data.rename(columns = {0 : 'Survived'}, inplace = True)

In [50]:
new_test_data

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [51]:
new_test_data.to_csv('Submission.csv', index = False)